version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-app:latest
    ports:
      - "127.0.0.1:8081:8081"
    env_file:
      - .env
    environment:
      # RDS 연결 정보
      SPRING_DATASOURCE_URL: "${DB_URL}"
      SPRING_DATASOURCE_USERNAME: "${DB_USERNAME}"
      SPRING_DATASOURCE_PASSWORD: "${DB_PASSWORD}"
      # JWT 시크릿 (선택)
      SPRING_JWT_SECRET: "${JWT_SECRET_KEY}"
      # AWS S3 (선택)
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      S3_BUCKET_NAME: "${S3_BUCKET_NAME}"
    restart: always