.add-schedule .modal-body{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap : 30px;
}

.add-schedule .schedule-title{
    width : 80%;
    border : 0px;
    border-bottom : 1px solid var(--primary);
    color : var(--primary);
}

.add-schedule .modal-content{
    width : 80%;
    height : 240px;
    display: flex;
    gap : 20px;
    justify-content: space-around;
    align-items: center;
}

.modal-footer{
    width : 80%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    gap : 20px;
}

.modal-footer > button{
    width : 240px;
    height : 50px;
    border-radius: 0%;
    margin-bottom : 20px;
}

.modal-footer .cancel-btn,
.modal-footer .submit-btn:active{
    color : var(--primary);
    background-color: white;
    border : 1px solid var(--primary);
}

.modal-footer .cancel-btn:active,
.modal-footer .submit-btn{
    color : white;
    background-color: var(--primary);
    border : 1px solid white;
}

.swiper-slide{
    font-size : 24px;
    height : 24px;
    width : 120px;
    text-align: center;
    justify-content: center;
    cursor: default;
}

.modal-content > div{
    width : 45%;
    height : 240px;
}

.modal-content .section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-content .title{
    font-size : 24px;
    font-weight : bold;
}

.modal-content .swiper{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    user-select: none;
}

.timer .timer-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap : 40px;
}

.swiper-slide.swiper-slide-active{
    color : var(--primary);
}

.swiper-slide.swiper-slide-active{
    border-top: 1px solid #000;
    border-bottom : 1px solid #000;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next{
    color : var(--text-light);
}

.profile-selection{
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-selection > div{
    width : 100%;
    height : 40px;
}

.profile-list{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin : 0px 20px;
}

.section.memo .memo{
    width : 100%;
    height : 100%;
    resize: none;
    font-size : 16px;
    font-family: sans-serif;
    color : var(--text-medium);
    border : 2px solid var(--primary);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
}

.section.memo .memo::placeholder{
    color : var(--text-light);
}

.monthday > input{
    height : inherit;
    width : 48px;
    font-size : 32px;
    font-weight : 500;
    border: 0px;
    border-bottom : 1px solid black;
    padding : 0px;
    text-align: center;
}

.monthday .year{
    width : 72px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}