.auth-form-panel {
    position: fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 10000;
}

.auth-form-panel.left {
    left: 0;
}

.auth-form-panel.right {
    left: 50vw;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  max-width: 400px;
}

.form-box input {
  padding: 10px;
  font-size: 16px;
}

.form-box button {
  padding: 12px;
  background-color: #7b3fe4;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.toggle-text {
  margin-top: 20px;
  font-size: 14px;
  color: #7b3fe4;
  cursor: pointer;
  text-align: center;
}
