.baby-container {
  display: flex; /* 내부 요소를 가로 방향 플렉스로 배치 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  flex-direction: column;
}

/* 애기 이름 */
.baby-avatar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baby-stats {
  width: 300px;
  display: flex;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 500;
}

.image-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.baby-image {
  width: 400px;
  height: 400px;
  border-radius: 20%; /* 원형 이미지 */
  object-fit: contain; /* 이미지 비율 유지한 상태로 박스에 꽉 채우기 */
  display: block;
  box-shadow: 0px 0px 10px 0 rgba(115, 90, 225, 0.3),
    0px 0px 10px 0 rgba(115, 90, 225, 0.3) inset;
  background: conic-gradient(
    from 315deg at 52% 52%,
    rgba(255, 163, 139, 0.3) 0%,
    rgba(211, 136, 181, 0.3) 25%,
    rgba(166, 110, 224, 0.3) 50%,
    rgba(115, 90, 225, 0.3) 75%,
    rgba(255, 163, 139, 0.3) 100%
  );
}

.baby-name {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px; /* 이미지와의 간격 */
  display: inline;
  flex: 0;
  position: static;
  z-index: 10000;
}

.talk-button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: #ffffff;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  padding: 13px 18px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.talk-button:active {
  transform: scale(0.95); /* 클릭 시 살짝 작아짐 */
}
