.calendar-container {
  width : 100%;
  height : 100%;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.react-calendar{
  width : 100% !important;
  height : 100% !important;
}

.react-calendar__tile{
  height : 15vh !important;
}

/* 상단 타이틀 */
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.calendar-header h2 {
  font-size: 20px;
  font-weight: bold;
}

.arrow-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* 달력 테이블 스타일 */
.calendar-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.calendar-table th {
  padding: 10px;
  background: #f2f2f2;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.calendar-table td {
  height: 80px;
  text-align: left;
  vertical-align: top;
  padding: 6px;
  border: 1px solid #ddd;
  position: relative;
  font-size: 14px;
}

.calendar-table td.prev-month {
  color: #ccc;
}

.calendar-table td.holiday {
  color: red;
}

/* 이벤트 표시 */
.event-label {
  font-size: 10px;
  color: #333;
  background: #f2e8ff;
  border-radius: 4px;
  padding: 2px 4px;
  margin-top: 4px;
  display: inline-block;
}

.calendar-table td.event {
  background: #faf5ff;
}
