.calendar-modal{
    width : 600px;
    height : 600px;
    background-color: white;
    padding : 100px;
    display: flex;
    flex-direction: column;
}

.modal-header{
    display : flex;
    justify-content: space-between;
    padding : 20px;
    margin-bottom : 100px;
}

.date{
    display : flex;
    flex-direction: row;
    gap : 12px;
    align-items: baseline;
}

.monthday{
    font-size : 32px;
}

.day{
    font-size : 16px;
}

.modal-body{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    gap : 30px;
}

.event-list{
    width : 100%;
    height : 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 20px;
}

.event-list .event-time,.event-title{
    font-size : 24px;
}

.event-list .event-time{
    color : var(--text-light);
}

.event-list .event-profile-list{
    display : flex;
    flex-direction: row;
    margin : 0px 20px;
}

.event-profile-list .event-profile:first-child{
    margin-left : 0px;
}

.event-profile.first{
    background-color: var(--primary);
}

.event-profile.second{
    background-color: var(--secondary);
}

.event-list .event-profile{
    width : 50px;
    height : 50px;
    border-radius: 50%;
    margin-left : -10px;
}