.calendar-modal{
    width : 80vh;
    height : 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.modal-header{
    display : flex;
    justify-content: space-between;
    padding : 40px;
    margin-bottom : px;
}

.add-btn{
    cursor: pointer;
}

.date{
    display : flex;
    flex-direction: row;
    gap : 12px;
    align-items: baseline;
}

.monthday{
    font-size : 32px;
}

.day{
    font-size : 16px;
}

.modal-body{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    gap : 15px;
}

.event-list{
    width : calc(100%-80px);
    height : 50px;
    padding : 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 20px;
}

.event-list:hover{
    background-color: var(--bg-primary);
}

.event-list .event-time,.event-title{
    font-size : 20px;
}

.event-list .event-time{
    color : var(--text-light);
}

.event-list .event-profile-list{
    display : flex;
    flex-direction: row;
    margin : 0px 20px;
}

.event-profile-list .event-profile:first-child{
    margin-left : 0px;
}

.event-profile.first{
    background-color: var(--primary);
}

.event-profile.second{
    background-color: var(--secondary);
}

.event-list .event-profile{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    margin-left : -10px;
}