.calendar-container {
  width : 960px;
  height : auto;
  background-color: white;
}

.fc{
  margin : 20px 20px;
}

.fc-dayGridMonth-view .fc-view .fc-daygrid{
  color : var(--text-medium);
}

.fc .fc-daygrid-day.fc-day-today{
  background-color: var(--bg-primary);
}

.fc .fc-daygrid-block-event{
  background-color: var(--primary);
}

.fc .fc-daygrid-block-event .fc-event-title{
  color : white;
}

.fc-theme-standard .fc-col-header-cell {
  background: none; 
  border-left: none; 
  border-right : none;
  border-top : none;
}

.fc-toolbar-chunk > div{
  display : flex;
  gap : 10px;
}

.fc .fc-button-primary{
  background-color: transparent;
  border-color : transparent;
  color : var(--text-dark);
}

.fc .fc-button-primary:hover{
  background-color: var(--bg-primary);
  border-color : var(--bg-primary);
  color : var(--primary);
}

.fc .fc-button-primary:active{
  background-color: var(--bg-primary);
  border-color : var(--bg-primary);
  color : white;
}

.fc .fc-button-primary:disabled { 
  background-color: var(--bg-primary);
  border-color : var(--bg-primary);
  color : var(--primary);
}

.fc .fc-toolbar-title{
  color : var(--text-dark);
}


.fc-day-sat .fc-daygrid-day-number {
  color: blue;
}

.fc-day-sun .fc-daygrid-day-number {
  color: red;
}

.fc-day-mon .fc-daygrid-day-number,
.fc-day-tue .fc-daygrid-day-number,
.fc-day-wed .fc-daygrid-day-number,
.fc-day-thu .fc-daygrid-day-number,
.fc-day-fri .fc-daygrid-day-number{
  color : var(--text-dark);
}

.fc .fc-col-header-cell-cushion{
  color : var(--text-light);
}

.fc .fc-daygrid-day-top{
  flex-direction: row;
  font-size : 14px;
}

.fc .fc-event-title{
  font-size : 12px;
  color : var(--text-dark);
}

.fc .fc-daygrid-event-dot{
  width : 12px;
  height : 12px;
  border-radius: 50%;
  border : 0px;
  background-color: var(--primary);
  margin : 0 8px 0 3px;
}

.fc .fc-daygrid-more-link{
  color : var(--text-light);
}