.calendar-modal{
    width : 80vh;
    height : 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.modal-header{
    display : flex;
    justify-content: space-between;
    padding : 40px;
}

.add-btn{
    cursor: pointer;
}

.date{
    display : flex;
    flex-direction: row;
    gap : 12px;
    align-items: baseline;
}

.monthday{
    font-size : 32px;
}

.day{
    font-size : 16px;
}

.modal-body{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    gap : 15px;
    overflow-y : auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
}

.schedule-header{
    width : calc(100%-80px);
    height : 50px;
    padding : 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 20px;
}

.schedule-container:hover{
    background-color: var(--bg-primary);
}

.schedule-header .schedule-time,.schedule-title{
    font-size : 20px;
}

.schedule-header .schedule-time{
    color : var(--text-light);
}

.schedule-container{
    display : flex;
    flex-direction: column;
    cursor: default;
    transition: grid-template-rows 0.4s ease-in-out;
}

.schedule-content{
    color : var(--text-light);
    padding : 0px 40px;
    transition : grid-template-rows 0.4s ease-in-out;
    grid-template-rows: 0fr;
    margin : 10px;
}

.schedule-content .schedule-buttons{
    display: flex;
    flex-direction: row;
    gap : 10px;
}

.schedule-buttons > div{
    font-size : 12px;
    border-radius: 10%;
    padding : 5px 10px;
    border : 1px solid var(--text-light);
    cursor : pointer;
    user-select: none;
}

.schedule-buttons > div:active{
    background-color: var(--text-light);
    color : white;
}