.cartoonresult-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: auto;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
}

.resbackground-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: contain;
}


.white-box {
  position: relative;
  width: 35%;
  aspect-ratio: 630 / 705;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.paper-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.photo-card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.result-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.result-image {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
}

.result-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}