/* 슬라이딩 애니메이션 기능임 */
.chat-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: #EBF0F7;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 10000;
}

.chat-panel.open {
    right: 0;
}

.chat-header {
    padding: 1rem;
    background-color: #EBF0F7;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.chat-messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 70%;
}

/* 내가 보낸 메세지임 */
.from-me {
    background-color: #FFFFFF;
    align-self: flex-end;
    margin-left: auto;
}

/* 상대방이 보낸 메세지임 */
.from-you {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    align-self: flex-start;
    margin-right: auto;
}

.chat-input {
    padding: 0.75rem;
    display: flex;
    gap: 0.5rem;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat-input button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #865dff;
  color: white;
  border-radius: 20px;
}