.dictionary-container-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.upload-btn-wrapper {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.upload-btn {
  background: var(--primary);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.upload-btn:hover {
  background: #7b4ce3;
}

.dictionary-container {
  width: 100%;
  overflow: visible;
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  align-items: center;
}

.dictionary-book {
  position: relative;
  width: 75%;
  aspect-ratio: 16/9;
  padding: 10px 50px;
  margin: 0 40px 20px;
  box-sizing: border-box;
  background: var(--side-bar);
  border: 1px solid var(--text-light);
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25),
    -4px 4px 8px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

.dictionary-page-mock {
  display: flex;
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 20px);
  z-index: 0;
}

.dictionary-page {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border: 1px solid var(--text-light);
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 1;
}

.dictionary-page.left {
  box-shadow: -4px 4px 10px 0 rgba(115, 90, 225, 0.2),
    -4px 0px 8px 0 rgba(0, 0, 0, 0.2) inset,
    -20px 0px 8px 0 rgba(0, 0, 0, 0.1) inset,
    8px 0px 8px 0 rgba(115, 90, 225, 0.1) inset;
}
.dictionary-page.right {
  box-shadow: 4px 4px 10px 0 rgba(115, 90, 225, 0.2),
    4px 0px 8px 0 rgba(0, 0, 0, 0.2) inset,
    20px 0px 8px 0 rgba(0, 0, 0, 0.1) inset,
    -8px 0px 8px 0 rgba(115, 90, 225, 0.1) inset;
  border-left: none;
}

.dictionary-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 24px;
  font-weight: 600;
}

.btn-group {
  display: flex;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-light);
}

.wordedit-btn,
.worddelete-btn {
  cursor: pointer;
}

.wordedit-btn:hover,
.worddelete-btn:hover {
  color: var(--text-dark);
}

.description {
  white-space: pre-wrap; /* 줄바꿈(\n)을 그대로 살려줍니다 */
  word-break: break-word; /* 단어가 너무 길면 적당히 줄바꿈 */
  hyphens: auto; /* 영어 등 하이픈 단어는 적절히 자르기 */
  overflow: visible;
  flex: 2;
}

.time-info {
  font-size: 12px;
  color: var(--text-light);
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

.arrow:focus {
  outline: none;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.modal-buttons button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button:last-child {
  background: #9c6bff;
  color: white;
}
