.event-calendar {
  width: 200px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  align-items: center;
  margin-top: 250px;
}

.event-calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-calendar li {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
