.main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.content-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px; /* 아기 사진, 캘린더, 아이콘 사이 간격 */
}

.page-header {
  position: absolute;
  top: 50px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page-header h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

.page-header h3 {
  font-size: 24px;
  margin: 0;
  line-height: 1.2;
}
