.main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width:  100%;
  position: relative;
  overflow: hidden;
}
.content-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px; /* 아기 사진, 캘린더, 아이콘 사이 간격 */
}

.mainpage-header {
  position: absolute;
  top: 40px;
  left: 80px;
  display: flex;
  flex-direction: column; 
  align-items: left;
  gap: 2px; /* 두 줄 사이 간격 */
}

.mainpage-header h4,
.mainpage-header h3 {
  margin: 0; 
  line-height: 1.2;
}
