.event-calendar {
  top: 50%;
  transform: translate(0, -50%);
  width: 220px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  align-items: center;
  margin-top: 250px;
}

.event-calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-calendar li {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.calendar-header {
  background: #735ae1;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.event-calendar ul {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
}

.event-calendar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
}

.event-calendar li .title {
  display: inline-block;
  width: 120px;
  margin-left: 8px;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.event-calendar li .dday {
  display: inline-block;
  width: 40px;
  color: var(--text-light);
  font-size: 12px;
}

.event-calendar li .dday.active {
  color: var(--primary);
  font-weight: 900;
}

.event-list {
  height: 32px;
  align-items: center;
}
