.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
}

.close-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 15000;
  cursor: pointer;
}

.move-btn {
  width: 80px;
  height: 80px;
}
