.container{
    width : 500px;
    height : 720px;
    display : flex;
    gap : 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image{
    width : 150px;
    height : 150px;
    border-radius: 50%;
    background-color: var(--primary);
}


.code-label{
    font-size: 16px;
    font-weight: 500;
    color : var(--text-light);
    margin : 10px;
}

.code{
    font-size : 32px;
    font-weight : 500;
    border-bottom: 2px solid var(--primary);
    margin : 10px;
}

button{
    width : 300px;
    height : 48px;
    background-color: var(--primary);
    color : white;
}