.mypage-header {
  position: absolute;
  top: 50px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mypage-header h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

.mypage-header h3 {
  font-size: 24px;
  margin: 0;
  line-height: 1.2;
}

.mypage-container {
  width: 100%;
}

.mypage-container > div {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.mypage-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mypage-card-wrapper > h4 {
  margin: 0;
}

.mypage-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  background: white; /* 내부 내용 배경 */
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--primary);
  justify-content: space-between;
}

.mypage-card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mypage-card-section {
  width: 300px;
  display: flex;
  gap: 20px;
}

.mypage-card-section-name {
  width: 90px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-dark);
}

.mypage-card-section-value {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 16px;
  color: var(--text-dark);
  font-weight: 600;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid var(--primary);
  border-radius: 50%;
  background: linear-gradient(to right, var(--secondary), var(--primary));
}

.mypage-card-section-btn {
  display: flex;
  align-items: center;
}

.useredit-btn {
  height: fit-content;
  background: var(--bg-primary);
  color: var(--text-light);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.danger-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.danger-btn {
  width: fit-content;
  background: white;
  color: var(--text-light);
  border: 1px solid var(--text-light);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
