.mypage-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}

.mypage-card {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border-radius: 20%; 
}

.useredit-btn {
  margin-top: 10px;
  background: #EBF0F7;
  color: #8A8C90;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.danger-btn {
  margin-top: 10px;
  background: white;
  color: #8A8C90;
  border: #8A8C90 solid 1px;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.mypage-header {
  position: absolute;
  top: 40px;
  left: 80px;
  display: flex;
  flex-direction: column; 
  align-items: left;
  gap: 2px; /* 두 줄 사이 간격 */
}

.mypage-header h4,
.mypage-header h3 {
  margin: 0; 
  line-height: 1.2;
}
