.onboaring-layout {
  display : flex;
  flex-direction: column;
  width: 100vw;
  height: 1000vh;
  background-color: var(--bg-primary);
  scroll-snap-type: y mandatory;
}

.onboarding-title{
  width : 40%;
  height : 100vh;
  display : flex;
  flex-direction: column;
  padding-left : 80px;
  justify-content: center;
}

.onboarding-title h2{
  font-size : 2.5rem;
  font-weight : 600;
  background : linear-gradient(90deg, var(--primary), var(--secondary));
  animation : title-gradient 6s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  margin : 0px;
}

.onboarding-title p{
  font-size : 1rem;
  line-height : 1.5;
  color : var(--text-light);
}

.onboarding-title .auth-btn{
  display : flex;
  gap : 20px;
  align-items: flex-start;
}

.onboarding-title > div > img{
  cursor : pointer;
}

.onboarding-image{
  position : absolute;
  right : 0;
  width : 60%;
  z-index : 1;
}

.onboarding-info{
  display: flex;
  width : 100vw;
  height : 100vh;
}

.onboarding-info .lanyard{
  width : 40%;
  height : 100%;
}

.onboarding-info-text{
  width : 60%;
  height : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding-footer{
  display : flex;
  flex-direction: column;
  gap : 20px;
  justify-content: center;
  align-items: center;
  margin-top : 60px;
}

.onboarding-footer .symbol{
  width : 100px;
  height : 100px;
}

.onboarding-footer .description{
  font-size : 1rem;
}

.onboarding-gallery{
  display : grid;
  gap : 20px;
  grid-template-columns: 1fr 1fr;
  width : 90%;
  height : auto;
  margin : 10px auto;
}

.on-image{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius : 2%;
  padding : 5px;
  gap : 5px;
  background-color : rgb(from var(--secondary) r g b / 0.1);;
}

.on-image > img{
  width : 90%;
  margin : 10px;
}

.on-image > p{
  font-weight : 900;
  font-size : 1rem;
  margin : 10px;
}

@keyframes title-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}