.right-icons {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-icons button {
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.right-icons button:hover {
  background-color: var(--bg-primary);
  transform: translateY(-2px);
}

.right-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
