.right-icons {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-icons button {
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.right-icons button:hover {
  background-color: var(--bg-primary);
  transform: translateY(-2px);
}

.right-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}



.icon-with-badge {
  position: relative;
  display: inline-block; 
}


.icon-with-badge {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  border-radius: 999px;
  background: #ff3b30;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 0 2px #fff;
}
