
/* 사이드바 전체 컨테이너, 왼쪽 고정 영역으로 사용 */
.sidebar {
    width: 250px;   /* 고정 너비 */
    height: 100vh;  /* 전체 화면 높이랑 동일하게 설정 */
    background-color: var(--bg-primary);  /* 연보라? 배경색임 */
    box-sizing: border-box; /* 패딩이랑 보더를 width안에 포함 */
    padding: 30px 20px;     /* 위 아래 30, 좌우 20 여벡 즘 */
    display: flex;          /* 세로 정렬할라고 이거 함 */
    flex-direction: column;     /* 위 -> 아래로 쌓이게 */
    justify-content: space-between;     /* 상단 메뉴와 하단 버튼을 양 끝 정렬 */
    font-family: sans-serif;            /* 전체 글꼴임 */
    border-right: 1px solid #ddd;     /* 오른쪽 연한 회색 테두리 */
    flex-shrink: 0;
}

/* 사이드바 타이틀 영역 로고 + 텍스트임 */
.sidebar-title {    
  display: flex;        /* 텍스트와 로고를 가로로 배치 */
  align-items: center;  /* 세로 중앙 정렬 */
  gap: 12px;            /* 로고와 텍스트 사이 간격 */
  font-size: 20px;      /* 텍스트 크기 */
  font-weight: bold;    /* 텍스트 굵게 세미 볼드 없나..? */
  margin-bottom: 30px;  /* 아래 메뉴와 간격 */
  text-align: left;
}

.sidebar-logo {
    width: 36px;    /* 가로 크기 */
    height: 36px;   /* 세로 크기 */
    object-fit: contain;    /* 원본 비율 유지하면서 크기에 맞춤 */
}



/* 메뉴 리스트 컨테이너 */
/* 디자인 상, <li>마다 직접 배경색, 둥근 테두리, hover효과 등을 
자유롭게 커스터마이징하려면 기존 기본 여백이나 점이 방해된다고 함!! */
.sidebar nav ul {
  list-style: none; /* 점 제거 */
  padding: 0;   /* 안쪽 여백 제거 */
  margin: 0;    /* 바깥 여백 제거 */
  text-align: left;
} 

/* 각 메뉴 항목 스타일
   마우스 올리면 변해랏  */
.sidebar nav li {
  margin: 14px 0;   /* 메뉴 항목 사이 간격 */
  padding: 10px 16px;   /* 항목 내부 여백 */
  width: 100%;                /* 너비를 100%로 */
  text-align: left;           /* 글자 왼쪽 정렬 */
  border-radius: 12px;  /* 둥근 테두리 */
  transition: all 0.2s ease;    /* hover 효과 부드럽게 */
  cursor: pointer;   /* 마우스 올리면 손가락 모양으로 클릭 가능하다는 표시를 해준다 */
}


/* 마우스 hover 시에 메뉴 항목 강조, 배경색 & 그림자  */
.sidebar nav li:hover {
  background-color : rgb(from var(--secondary) r g b / 0.8); /* secondary에 투명도 조절 */
  color : white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* 현재 클릭한 메뉴, 진한 거 */
.sidebar nav li.active {
  background-image : linear-gradient(90deg, var(--secondary), var(--primary));    /* 그라데이션 */
  color: white; /* 텍스트 흰색 */
  /* font-weight: bold;    텍스트 굵게 */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);   더 강한 그림자 */
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
}


/* 사이드바 하단 버튼 부분 */
.sidebar-bottom {
  display: flex;
  flex-direction: column;   /* 위에서 아래로 정렬 */
  gap: 10px;    /* 버튼 사이 간격이만큼 */
}