.talkroom-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
}

.talkroom-header {
  position: absolute;
  top: 70px;
  left: 100px; /* 네브바 너비 + 간격 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 5px; */
}

.hashtags {
  display: flex;
  gap: 12px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-box h1 {
  font-size: 34px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

.home-icon-img {
  position: absolute;
  top: 83px;
  left: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.AIbaby-image {
  position: absolute;
  bottom: 130px;
  left: 80px; 
  width: auto !important;
  height: auto;
  object-fit: contain;
  z-index: 1;
  max-height: 100%;
}
