.talkroom-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.talkroom-header {
  position: absolute;
  top: 30px;
  left: 100px; /* 네브바 너비 + 간격 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 5px; */
}

.hashtags {
  display: flex;
  gap: 12px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-box h1 {
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.talkhome-icon-img {
  position: absolute;
  top: 45px;
  left: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.AIbaby-image {
  position: absolute;
  bottom: 130px;
  left: 80px;
  width: auto !important;
  height: auto;
  object-fit: contain;
  z-index: 1;
  max-height: 100%;
}

/* 채팅 메시지 영역 */
.chatroom-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 50%;
  overflow-y: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.chat-line {
  display: flex;
  width: 100%;
  margin: 5px 0;
  align-items: flex-end;
  gap: 5px
}

.chat-line.Ai {
  justify-content: flex-start;
}

.chat-line.USER {
  justify-content: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

/* 말풍선 */
.chat-bubble {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 15px;
  max-width: 70%;
  word-break: break-word;
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  align-items: center;
}

.chat-bubble.me,
.chat-bubble.USER {
  align-self: flex-end;
  background: #8e6ff9;
  color: white;
}

/* 꼬리 만들기 (내 메시지) */
.chat-bubble.me::after,
.chat-bubble.USER::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid transparent;
  border-left-color: #8e6ff9;
}

.chat-bubble.Ai {
  align-self: flex-start;
  background: #ffffff;
  color: #222;
}

.chat-bubble.Ai::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid transparent;
  border-right-color: #ffffff;
}

.timestamp{
  font-size: 12px;
}

/* 입력창 */
.chatroom-input-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 50%;
  background: white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.chatroom-input-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
}

.chatroom-input-box button {
  background: #8e6ff9;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}