.curved-loop-jacket {
  position : absolute;
  bottom : 0px;
  height : 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--secondary);
  z-index : 999;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  height : 100%;
  overflow: visible;
  font-size: 3vh;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  transform : translateY(-50%);
}